
/* MainHero  */
.mainSection1 {position:relative; margin-bottom: 140px;}
.bgSection img {width:100%; object-fit:cover;}
.bgSection .pcBg {object-position:center 50px;}
.bgSection .moBg {display: none;}
.mainSearchTag {max-width:1020px; padding:0 60px; width:100%; position:absolute; bottom:0; left:50%; transform:translateX(-50%);}
.mainSearchTag .searchArea {width:100%; height:80px; display:flex; align-items:center; gap:12px; background-color:#fff; border-radius:40px; box-shadow:0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09); margin:0 auto; padding:0 15px 0 55px;}
.mainSearchTag .searchArea .icon {font-size:26px;}
.mainSearchTag .searchArea input {outline:none; width:100%; height:100%; display:flex; justify-content: space-between; align-items:ceter; border:none; font-size:17px; letter-spacing:-0.85px;}
.mainSearchTag .searchArea .searchBtn {max-width:180px; width:100%; height:55px; color:#fff; background-image:linear-gradient(to top, #ed1c24, #e0462e); font-weight:600; border-radius:28px;}
.mainSearchTag .TagList {margin-top:25px;}
.mainSearchTag .TagList ul {display:flex; flex-wrap:wrap; justify-content:center; gap: 7px;}
.mainSearchTag .TagList ul li {cursor:pointer; text-align:center; font-size:var(--font-size-xs); min-width:120px; height:37px; line-height:37px; border-radius:20px; border:solid 1px #edecef; padding:0 20px;}


@media screen and (max-width: 1700px) {}
@media screen and (max-width: 1400px) {}
@media screen and (max-width: 1280px) {
    .mainSearchTag .searchArea {height:60px;}
    .mainSearchTag .searchArea .searchBtn {height:45px;}
}
@media (max-width: 1024px) {}
@media screen and (max-width: 768px) {
    .bgSection .pcBg {display: none;}
    .bgSection .moBg {display: block;}
    .mainSearchTag {bottom:10%;}
    .mainSearchTag .searchArea {padding:0 6px 0 25px;}
    .mainSearchTag .searchArea .icon {font-size:20px;}
    .mainSearchTag .searchArea {height:45px;}
    .mainSearchTag .searchArea input {font-size:var(--font-size-xs);}
    .mainSearchTag .searchArea .searchBtn {height:30px; font-size:10px; max-width:120px;}
    .mainSearchTag .TagList ul li {font-size:10px; min-width:auto; height:30px; line-height:30px; padding:0 10px; white-space:nowrap;}
}


/* ProductBrandSlider  */
.mainSection2 {
    width:100%;
    position:relative;
}


.mainSection2 :global(.slick-slider) {
    width: 100%;
    margin: 0 auto;
    padding:0 7px;
  }



.sectionProductBlock {
  width: 100%;
  position: relative;
  
  margin: 0 auto 140px;
}

.sectionTitle {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.45;
  letter-spacing: -1.9px;
  text-align: center;
  color:#111;
  margin-bottom: 20px;
}

.mainSection2 :global(.slick-slider) {
  width: 100%;

}

.mainSection2 :global(.slick-list) {
  padding: 20px 0;
}

.mainSection2 :global(.slick-track) {
  display: flex;
  gap: 18px;
}

.mainSection2 :global(.slick-prev) {
  width: 7px;
  height: 15px;
  background: url(../../assets/img/prev_arrow.png) center / contain no-repeat;
}

.mainSection2 :global(.slick-prev:before) {
  content: none;
}

.mainSection2 :global(.slick-next) {
  width: 7px;
  height: 15px;
  background: url(../../assets/img/next_arrow.png) center / contain no-repeat;
}

.mainSection2 :global(.slick-next:before) {
  content: none;
}

.mainSection2 :global(.slick-prev:hover),
.mainSection2 :global(.slick-prev:focus) {
  background: url(../../assets/img/prev_arrow.png) center / contain no-repeat;
}
.mainSection2 :global(.slick-next:hover),
.mainSection2 :global(.slick-next:focus) {
  background: url(../../assets/img/next_arrow.png) center / contain no-repeat;
}

.mainSection2 :global(.slick-disabled) {
  opacity: 0.1;
}

.sliderItem img {
  height: auto;
}

/* 링크 */
.sliderItem a {
  display: block;
  text-align: center;
}



/* 상품명 */
.sliderItem span {
  opacity: 1;
  margin-top: 10px;
}

.sliderProductLink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease;
}

.sliderProductLink:hover {
  transform: translateY(-10px);
}

.textWrap {
  height: 46px;
  position: relative;
}

.sliderProductLink span {
  position: absolute;
  left:0;
  width: 100%;
  text-align: center;
  transition: opacity 0.3s ease;
  padding: 10px 0;
  border-radius: 21px;
}
.sliderProductLink .nameText {
  opacity: 1;
  background-color: #f9f9f9;
}
.sliderProductLink .hoverText {
  opacity: 0;
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  color: #fff;
}
.sliderProductLink:hover .nameText {
  opacity: 0;
}
.sliderProductLink:hover .hoverText {
  opacity: 1;
}
.sliderItem:hover {
  transform: translateY(-10px);
}

/* brand 설정 */
.sectionBrandBlock {
  width: 100%;
  position: relative;
  max-width: 1650px;
  margin: 0 auto 140px;
}
.sectionBrandBlock .sliderItem {
  border-radius: 30px;
  height: 250px;
}
.sliderBrandLink {
  border: 1px solid #dedcef;
  height: 100%; 
  background-color:#fff;
  position:relative;
  display: block;
  border-radius: 30px;
  transition: transform 0.8s ease;
}
.sliderBrandLink:hover {
  transform: translateY(-10px);
}
.sliderBrandLink img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

@media screen and (max-width: 1700px) {
    .sectionProductBlock {
        width: 95%;
    }
    .sectionBrandBlock {
      width: 95%;
    }

    .mainSection2 :global(.slick-slider) {
      width: 95%;
    }
}
@media screen and (max-width: 1400px) {
  .sliderBrandLink img {
    width: 90%;
    max-width: 110px;
  }
}
@media (max-width: 1024px) {}
@media (max-width: 768px) {
  .sectionBrandBlock .sliderItem {
    height: auto;
  }
  .sliderItem {
    padding-left:8px;
  }
  .sliderBrandLink {
    aspect-ratio: 1 / 1;
    height: auto;
  }
  .sliderProductLink:hover {
    transform: none;
  }
  .sliderItem:hover {
    transform: none;
  }
}


/* CsReport  */
.sectionQnaBox {
  position:relative;
  padding: 60px 45px;
  border-radius: 30px;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  margin-bottom: 132px;
}
.qnaBoxBanners {
  display: flex;
  gap: 30px;
}
.qnaBoxBanner01 {
  flex: 1;
  background: url(../../assets/img/bg_qnaBlock_01.png) center / cover no-repeat;
  display: block;
  padding: 55px 45px;
  border-radius: 30px;
  position: relative;
}
.qnaBoxBanner01 h4 {
  line-height: 1;
  font-size: 32px;
  padding-bottom: 30px;
  font-weight: var(--font-weight-bold);
}
.qnaBoxBanner01 .bannerDescription {
  font-size: var(--font-size-md);
}
.qnaBoxBanner01 button {
  margin-top: 56px;
}
.qnaBoxBanner02 {
  flex: 1;
  background: url(../../assets/img/bg_qnaBlock_02.png) center / cover no-repeat;
  display: block;
  padding: 55px 45px;
  border-radius: 30px;
  position: relative;
}
.qnaBoxBanner02 h4 {
  line-height: 1;
  font-size: 32px;
  padding-bottom: 30px;
  font-weight: var(--font-weight-bold);
}
.qnaBoxBanner02 .bannerPhone {
  font-size: 46px;
  line-height: 1;
  font-weight: var(--font-weight-bold);
  letter-spacing: -2.33px;
  color: #303030;
  margin-bottom: 30px;
}
.qnaBoxBanner02 .bannerDescription {
  display: flex;
  align-items: center;
  gap: 16px;
}
.qnaBoxBanner02 .bannerDescription span:nth-child(2) {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}
.qnaBoxHeader {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  padding: 47px 0 27px;
}
.qnaBoxHeader h4 {
  font-size: 23px;
}
.qnaBoxHeader .qnaBoxBtnMore {}
.qnaBoxList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.qnaBoxList li {
  width:48%;
}
.qnaBoxList li a {
  display: flex;
  align-items: center;
  padding: 0 62px 0 20px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  background-color: #f9f9f9;
  height: 80px;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
}
.qnaBoxList li a:hover {
  font-weight: var(--font-weight-bold);
}
.qnaBoxList li a:hover:after {
  content:"";
  width: 47px;
  height: 47px;
  background: url(../../assets/img/link_arrow01.png) center no-repeat;
  border-radius: 23px;
  box-shadow: inset 0px 5px 10px 0 rgba(26, 26, 26, 0.14);
  background-color: #e0462e;
  position: absolute;
  top:50%;
  right:10px;
  transform: translateY(-50%);
}



@media screen and (max-width: 1700px) {}
@media screen and (max-width: 1280px) {
  .qnaBoxList li {
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .qnaBoxList li a {
    height: 65px;
    font-size: 16px;
  }
}
@media (max-width: 1024px) {}
@media screen and (max-width: 768px) {}

